<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Summary view</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        $(document).ready(function () {

            $(".line").css({
                "float": "left",
                "width": "20%",
                "height": "400px"
            })

            $("#header").css({
                "width": "100%",
                "height": "80px",
                "backgroundColor": "black",
                "color": "white",
                "text-align": "center",
                "font-size": "-webkit-xxx-large"
            })
            $("#go_btn").css({
                "width": "100%",
                "height": "30px",
                "margin-top": "5px"
            })
            $(".search_cv").css({
                "width": "49%",
                "background-image": "url(http://img1.rabota.com.ua/static/2014/04/magnifier.png)",
                "background-position": "97% 50%",
                "background-repeat": "no-repeat"
            })
            $("#search_result").css({
                "text-align": "left",
                "margin-top": "25px"
            })
            $("#search_summary_form").css({
                "text-align": "center",
                "margin-top": "20px"
            })
            $(".cv_data").css({
                "float": "left",
                "width": "60%",
                "height": "400px"
            })
        });
    </script>
</head>
<body>
<div id="header">Search summary. Synchronized with rabota.ua</div>
<div class="line"></div>
<div class="cv_data">
    <form id="search_summary_form" action="/find/cv_list">
        <input class="search_cv" type="text" name="desc" placeholder="Job position keyword eg Java"
               style="
               "/>
        <input class="search_cv" type="text" name="loc" placeholder="Location eg Харьков"/>
        <br/>
        <input type="submit" id="go_btn" name="GO" value="GO"/>
    </form>
    <div id="search_result">
        #if(! $msg )

            <ul>
                #if($summary.ownerName)
                    <li>Name
                        <div>$summary.ownerName</div>
                    </li>
                #end
                #if($summary.jobPosition)
                    <li>Job Position
                        <div>$summary.jobPosition</div>
                    </li>
                #end
                #if($summary.goal)
                    <li>Goal
                        <div>$summary.goal</div>
                    </li>
                #end
                #if($summary.skills)
                    <li>Skills
                        <div>$summary.skills</div>
                    </li>
                #end
                #if($summary.experience && !$summary.experience.isEmpty())
                    <li>Experience
                        <div>
                            <ol>
                                #foreach( $job in $summary.experience)
                                    #if($job.title)
                                        <li>
                                            $job.title <br/> $job.workPeriod
                                        </li>
                                    #end
                                #end
                            </ol>
                        </div>
                    </li>
                #end
                #if($summary.education && !$summary.education.isEmpty())
                    <li>Education
                        <div>
                            <ol>
                                #foreach( $edu in $summary.education)
                                    <li>$edu</li>
                                #end
                            </ol>
                        </div>
                    </li>
                #end
            </ul>
        #else $msg
        #end

    </div>
    <div class="line"></div>
</div>
</body>
</html>